<% @tasks.each do |task| %>
<h3><%= task.summary %></h3>
<table class='table table-striped'>
  <tr>
    <th>Timer Start</th>
    <th>Timer End</th>
  </tr>

  <% task.timers.each do |timer| %>
    <tr>
      <td><%= timer.start_time %></td>
      <td><%= timer.end_time %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to '<i class="icon-plus-sign"></i> New Task'.html_safe, new_task_path, :class => 'btn btn-mini' %>
