<h3>Total to Today</h3>
<% @projects.each do |project| %>
<% next if project.tasks.count == 0 %>
  <h4><%= project.title %></h4>
  <% project.tasks.each do |task| %>
    <% next if task.total_time_this_day == 0.0 %>
    <p><%= task.summary %></p>
    <p><%= formatted_duration(task.total_time_this_day) %></p>
  <% end %>
<% end %>
