<h2>Dashboard</h2>
<h3>This week:</h3>
<div class="span3 well">
  <p class='lead'>Total Time: <%= formatted_duration(@total_time) %></p>
</div>

<div class="span3 well">
  <p class='lead'>Total Value: $<%= (((@total_time/60.0)/60.0) * 85.0).round(2) %></p>
</div>