<h2>Weekly Total</h2>
<% @projects.each do |project| %>
<% next if project.tasks.count == 0 %>
  <h3><%= project.title %></h3>
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Task</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <% project.tasks.each do |task| %>
      <% next if task.timers.count == 0 %>
        <tr>
          <td><%= task.summary %></td>
          <td class='timer'><%= formatted_duration(task.total_time_this_week) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<% end %>
