<% @projects.each do |project| %>
  <h3><%= link_to project.title, project_path(project) %> <small><%= project.code %></small></h3>

    <%= render partial: "shared/tasks_table", :locals => { :project => project, :tasks => @tasks } %>

<% end %>

<br />

<%= link_to '<i class="icon-plus-sign"></i> New Project'.html_safe, new_project_path, :class => 'btn btn-mini' %>
