/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import 'variables';

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.timer_end_time .controls, .timer_start_time .controls {
  :first-child {
    background-color: $date;
    width: 110px;
  }
  :nth-child(2){
    background-color: $date;
    width: $double_digit;
  }
  :nth-child(3){
    background-color: $date;
    width: 75px;
  }
  :nth-child(4){
    background-color: $time;
    width: $double_digit;
  }
  :nth-child(5){
    background-color: $time;
    width: $double_digit;
  }
}

.timeline, .hour_marker {
  position: relative;
  height: 25px;
  background-color: #EEE;
  li {
    height: 21px;
    padding-top: 2px;
    z-index: 100;
    position: absolute;
    background-color: $positive-color;
    list-style-type: none;
    text-align: center;
    opacity: .65;
    border: 1px solid #CCC;
    border-radius: 4px;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.times {
  position: relative;
  height: 19px;
  top: -35px;
  li {
    height: 32px;
    position: absolute;
    list-style-type: none;
    border-style: dotted;
    border-color: #CCC;
    border-width: 0;
    border-left-width: 1px;
  }
}

.hour_marker {
  top: -34px;
  left : -21px;
  background-color: transparent;
  li {
    border: 0px;
    background-color: transparent;
  }
}