// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a:visited {
  color: #000;
}

a:visited.btn.btn-success, a:visited.btn.btn-danger {
  color: #FFF;
}
.task {
  width: 14px;
}
.project {
  width: 95px;
  font-weight: lighter;
}
.issue {
  width: 75px;
}
.timer {
  width: 75px;
}
